@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.top-borda {
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 28px 28px 0 0; fixed;
    z-index: 2;
}

img {
    width: 100vw;
    position: relative;
    z-index: 1;
}

a {
    display: block;
    background-color: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}