@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: -100px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
    margin: -4px 0px;
}

a {
    display: block;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;

}

a#yt {
    background-color: #161616;
}
a#yt:hover {
    background-color: #383838;
}

a#gh {
    background-color: #0D1017;
}
a#gh:hover {
    background-color: #222a3b;
}

a#insta {
    background-color: #0D1017;
}
a#insta:hover {
    background-color: #222a3b;
}

img#tt {
    width: 249px;
    height: 538px;
}

img#fb {
    width: 249px;
    height: 538px;
}